In [1]:
import pandas as pd
df1=pd.DataFrame({'A':[1,2],'B':[3,4]})
df2=pd.DataFrame({'A':[5,6],'B':[7,8]})
pd.concat([df1,df2],axis=0)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [2]:
pd.concat([df1,df2],axis=1)

   A  B  A  B
0  1  3  5  7
1  2  4  6  8

In [4]:
pd.concat([df1,df2],ignore_index=True)

   A  B
0  1  3
1  2  4
2  5  7
3  6  8

In [6]:
df1.append(df2,ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
################################## In Class Exercise ##################################

In [1]:
import pandas as pd
import numpy as np

np.random.seed(24)

data = pd.Series(np.random.normal(loc=50,scale=5,size=50))

outliers = pd.Series([100,110,120,130])

data_with_outliers = pd.concat([data,outliers], axis = 0)

df = pd.DataFrame(data_with_outliers,columns=['values'])

print(df.describe())

           values
count   54.000000
mean    55.543827
std     17.916975
min     39.553229
25%     48.158336
50%     51.466105
75%     55.263425
max    130.000000

In [15]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Downloading scikit_learn-1.7.1-cp312-cp312-macosx_10_13_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in /Users/naveenapokala/Library/Python/3.12/lib/python/site-packages (from scikit-learn) (2.3.2)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.16.1-cp312-cp312-macosx_14_0_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 1.2 MB/s eta 0:00:0000:01
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.1-cp312-cp312-macosx_10_13_x86_64.whl (9.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.3/9.3 MB 16.5 MB/s eta 0:00:0000:0100:01
Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 308.4/308.4 kB 6.6 MB/s eta 0:00:00:00:01
Downloading scipy-1.16.1-cp312-cp312-macosx_14_0_x86_64.whl (23.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.5/23.5 MB 16.1 MB/s eta 0:00:0000:0100:01
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.5.2 scikit-learn-1.7.1 scipy-1.16.1 threadpoolctl-3.6.0

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: /usr/local/Cellar/jupyterlab/4.2.1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['normalized_values'] = scaler.fit_transform(df[['values']])
print(df)

        values   Z-score  log_values  normalized_values
0    56.646061  0.061519    4.054322           0.188982
1    46.149833 -0.524307    3.853330           0.072934
2    48.418598 -0.397680    3.900327           0.098018
3    45.045948 -0.585918    3.829640           0.060729
4    44.645919 -0.608245    3.820914           0.056306
5    42.806434 -0.710912    3.779781           0.035968
6    52.822084 -0.151909    3.985684           0.146703
7    51.478609 -0.226892    3.960406           0.131850
8    41.867979 -0.763290    3.758125           0.025592
9    51.097826 -0.248145    3.953123           0.127640
10   53.394024 -0.119987    3.996254           0.153027
11   59.446364  0.217812    4.101756           0.219943
12   54.807692 -0.041086    4.021912           0.168657
13   50.520056 -0.280392    3.941971           0.121252
14   47.594173 -0.443694    3.883504           0.088903
15   54.251143 -0.072149    4.011889           0.162503
16   57.267123  0.096182    4.065038           0.195849
17   55.288687 -0.014240    4.030494           0.173975
18   50.827808 -0.263215    3.947927           0.124654
19   52.575092 -0.165694    3.981084           0.143973
20   43.315322 -0.682510    3.791330           0.041595
21   52.814306 -0.152343    3.985539           0.146617
22   56.964274  0.079279    4.059827           0.192500
23   49.683360 -0.327090    3.925598           0.112001
24   50.608342 -0.275464    3.943683           0.122228
25   56.038013  0.027582    4.043718           0.182260
26   49.989799 -0.309987    3.931626           0.115389
27   58.138979  0.144843    4.079890           0.205488
28   51.772464 -0.210491    3.965990           0.135099
29   55.187638 -0.019880    4.028697           0.172858
30   48.071582 -0.417048    3.893280           0.094181
31   52.599090 -0.164355    3.981532           0.144238
32   58.432914  0.161249    4.084848           0.208738
33   43.370184 -0.679447    3.792568           0.042201
34   57.144919  0.089362    4.062938           0.194498
35   39.553229 -0.892483    3.702615           0.000000
36   49.350900 -0.345646    3.919017           0.108325
37   53.157615 -0.133182    3.991899           0.150413
38   47.067310 -0.473100    3.872602           0.083077
39   51.453600 -0.228288    3.959929           0.131573
40   56.320517  0.043349    4.048659           0.185383
41   51.450174 -0.228479    3.959864           0.131535
42   40.148558 -0.859256    3.717189           0.006582
43   54.019529 -0.085076    4.007688           0.159943
44   55.152752 -0.021827    4.028076           0.172472
45   50.590490 -0.276461    3.943337           0.122030
46   49.890733 -0.315516    3.929681           0.114294
47   50.234204 -0.296346    3.936407           0.118091
48   41.856236 -0.763945    3.757851           0.025463
49   48.038197 -0.418912    3.892600           0.093812
0   100.000000  2.481232    4.615121           0.668313
1   110.000000  3.039362    4.709530           0.778875
2   120.000000  3.597492    4.795791           0.889438
3   130.000000  4.155622    4.875197           1.000000

In [17]:
df['Z-score'] = (df['values'] - df['values'].mean()) /df['values'].std()
print(df['Z-score'])

0     0.061519
1    -0.524307
2    -0.397680
3    -0.585918
4    -0.608245
5    -0.710912
6    -0.151909
7    -0.226892
8    -0.763290
9    -0.248145
10   -0.119987
11    0.217812
12   -0.041086
13   -0.280392
14   -0.443694
15   -0.072149
16    0.096182
17   -0.014240
18   -0.263215
19   -0.165694
20   -0.682510
21   -0.152343
22    0.079279
23   -0.327090
24   -0.275464
25    0.027582
26   -0.309987
27    0.144843
28   -0.210491
29   -0.019880
30   -0.417048
31   -0.164355
32    0.161249
33   -0.679447
34    0.089362
35   -0.892483
36   -0.345646
37   -0.133182
38   -0.473100
39   -0.228288
40    0.043349
41   -0.228479
42   -0.859256
43   -0.085076
44   -0.021827
45   -0.276461
46   -0.315516
47   -0.296346
48   -0.763945
49   -0.418912
0     2.481232
1     3.039362
2     3.597492
3     4.155622
Name: Z-score, dtype: float64

In [26]:
df['log_values'] = np.log1p(df['Z-score'])
print(df)

        values   Z-score  log_values  normalized_values
0    56.646061  0.061519    0.059701           0.188982
1    46.149833 -0.524307   -0.742983           0.072934
2    48.418598 -0.397680   -0.506967           0.098018
3    45.045948 -0.585918   -0.881691           0.060729
4    44.645919 -0.608245   -0.937118           0.056306
5    42.806434 -0.710912   -1.241024           0.035968
6    52.822084 -0.151909   -0.164767           0.146703
7    51.478609 -0.226892   -0.257337           0.131850
8    41.867979 -0.763290   -1.440920           0.025592
9    51.097826 -0.248145   -0.285211           0.127640
10   53.394024 -0.119987   -0.127819           0.153027
11   59.446364  0.217812    0.197056           0.219943
12   54.807692 -0.041086   -0.041954           0.168657
13   50.520056 -0.280392   -0.329048           0.121252
14   47.594173 -0.443694   -0.586437           0.088903
15   54.251143 -0.072149   -0.074884           0.162503
16   57.267123  0.096182    0.091834           0.195849
17   55.288687 -0.014240   -0.014343           0.173975
18   50.827808 -0.263215   -0.305459           0.124654
19   52.575092 -0.165694   -0.181155           0.143973
20   43.315322 -0.682510   -1.147307           0.041595
21   52.814306 -0.152343   -0.165279           0.146617
22   56.964274  0.079279    0.076294           0.192500
23   49.683360 -0.327090   -0.396144           0.112001
24   50.608342 -0.275464   -0.322224           0.122228
25   56.038013  0.027582    0.027208           0.182260
26   49.989799 -0.309987   -0.371045           0.115389
27   58.138979  0.144843    0.135268           0.205488
28   51.772464 -0.210491   -0.236344           0.135099
29   55.187638 -0.019880   -0.020080           0.172858
30   48.071582 -0.417048   -0.539651           0.094181
31   52.599090 -0.164355   -0.179551           0.144238
32   58.432914  0.161249    0.149496           0.208738
33   43.370184 -0.679447   -1.137709           0.042201
34   57.144919  0.089362    0.085592           0.194498
35   39.553229 -0.892483   -2.230108           0.000000
36   49.350900 -0.345646   -0.424106           0.108325
37   53.157615 -0.133182   -0.142926           0.150413
38   47.067310 -0.473100   -0.640744           0.083077
39   51.453600 -0.228288   -0.259144           0.131573
40   56.320517  0.043349    0.042436           0.185383
41   51.450174 -0.228479   -0.259391           0.131535
42   40.148558 -0.859256   -1.960813           0.006582
43   54.019529 -0.085076   -0.088914           0.159943
44   55.152752 -0.021827   -0.022069           0.172472
45   50.590490 -0.276461   -0.323600           0.122030
46   49.890733 -0.315516   -0.379090           0.114294
47   50.234204 -0.296346   -0.351469           0.118091
48   41.856236 -0.763945   -1.443692           0.025463
49   48.038197 -0.418912   -0.542853           0.093812
0   100.000000  2.481232    1.247386           0.668313
1   110.000000  3.039362    1.396087           0.778875
2   120.000000  3.597492    1.525511           0.889438
3   130.000000  4.155622    1.640088           1.000000

In [27]:
df.loc[(df['Z-score']<3) & (df['Z-score'] > -3)]

        values   Z-score  log_values  normalized_values
0    56.646061  0.061519    0.059701           0.188982
1    46.149833 -0.524307   -0.742983           0.072934
2    48.418598 -0.397680   -0.506967           0.098018
3    45.045948 -0.585918   -0.881691           0.060729
4    44.645919 -0.608245   -0.937118           0.056306
5    42.806434 -0.710912   -1.241024           0.035968
6    52.822084 -0.151909   -0.164767           0.146703
7    51.478609 -0.226892   -0.257337           0.131850
8    41.867979 -0.763290   -1.440920           0.025592
9    51.097826 -0.248145   -0.285211           0.127640
10   53.394024 -0.119987   -0.127819           0.153027
11   59.446364  0.217812    0.197056           0.219943
12   54.807692 -0.041086   -0.041954           0.168657
13   50.520056 -0.280392   -0.329048           0.121252
14   47.594173 -0.443694   -0.586437           0.088903
15   54.251143 -0.072149   -0.074884           0.162503
16   57.267123  0.096182    0.091834           0.195849
17   55.288687 -0.014240   -0.014343           0.173975
18   50.827808 -0.263215   -0.305459           0.124654
19   52.575092 -0.165694   -0.181155           0.143973
20   43.315322 -0.682510   -1.147307           0.041595
21   52.814306 -0.152343   -0.165279           0.146617
22   56.964274  0.079279    0.076294           0.192500
23   49.683360 -0.327090   -0.396144           0.112001
24   50.608342 -0.275464   -0.322224           0.122228
25   56.038013  0.027582    0.027208           0.182260
26   49.989799 -0.309987   -0.371045           0.115389
27   58.138979  0.144843    0.135268           0.205488
28   51.772464 -0.210491   -0.236344           0.135099
29   55.187638 -0.019880   -0.020080           0.172858
30   48.071582 -0.417048   -0.539651           0.094181
31   52.599090 -0.164355   -0.179551           0.144238
32   58.432914  0.161249    0.149496           0.208738
33   43.370184 -0.679447   -1.137709           0.042201
34   57.144919  0.089362    0.085592           0.194498
35   39.553229 -0.892483   -2.230108           0.000000
36   49.350900 -0.345646   -0.424106           0.108325
37   53.157615 -0.133182   -0.142926           0.150413
38   47.067310 -0.473100   -0.640744           0.083077
39   51.453600 -0.228288   -0.259144           0.131573
40   56.320517  0.043349    0.042436           0.185383
41   51.450174 -0.228479   -0.259391           0.131535
42   40.148558 -0.859256   -1.960813           0.006582
43   54.019529 -0.085076   -0.088914           0.159943
44   55.152752 -0.021827   -0.022069           0.172472
45   50.590490 -0.276461   -0.323600           0.122030
46   49.890733 -0.315516   -0.379090           0.114294
47   50.234204 -0.296346   -0.351469           0.118091
48   41.856236 -0.763945   -1.443692           0.025463
49   48.038197 -0.418912   -0.542853           0.093812
0   100.000000  2.481232    1.247386           0.668313

In [28]:
import pandas as pd
import numpy as np

np.random.seed(24)

data = pd.Series(np.random.normal(loc=50,scale=5,size=50))

outliers = pd.Series([100,110,120,130])

data_with_outliers = pd.concat([data,outliers], axis = 0)

df1 = pd.DataFrame(data_with_outliers,columns=['values'])

print(df1.describe())

           values
count   54.000000
mean    55.543827
std     17.916975
min     39.553229
25%     48.158336
50%     51.466105
75%     55.263425
max    130.000000

In [29]:
scaler = MinMaxScaler()
df1['normalized_values'] = scaler.fit_transform(df1[['values']])
print(df1)

        values  normalized_values
0    56.646061           0.188982
1    46.149833           0.072934
2    48.418598           0.098018
3    45.045948           0.060729
4    44.645919           0.056306
5    42.806434           0.035968
6    52.822084           0.146703
7    51.478609           0.131850
8    41.867979           0.025592
9    51.097826           0.127640
10   53.394024           0.153027
11   59.446364           0.219943
12   54.807692           0.168657
13   50.520056           0.121252
14   47.594173           0.088903
15   54.251143           0.162503
16   57.267123           0.195849
17   55.288687           0.173975
18   50.827808           0.124654
19   52.575092           0.143973
20   43.315322           0.041595
21   52.814306           0.146617
22   56.964274           0.192500
23   49.683360           0.112001
24   50.608342           0.122228
25   56.038013           0.182260
26   49.989799           0.115389
27   58.138979           0.205488
28   51.772464           0.135099
29   55.187638           0.172858
30   48.071582           0.094181
31   52.599090           0.144238
32   58.432914           0.208738
33   43.370184           0.042201
34   57.144919           0.194498
35   39.553229           0.000000
36   49.350900           0.108325
37   53.157615           0.150413
38   47.067310           0.083077
39   51.453600           0.131573
40   56.320517           0.185383
41   51.450174           0.131535
42   40.148558           0.006582
43   54.019529           0.159943
44   55.152752           0.172472
45   50.590490           0.122030
46   49.890733           0.114294
47   50.234204           0.118091
48   41.856236           0.025463
49   48.038197           0.093812
0   100.000000           0.668313
1   110.000000           0.778875
2   120.000000           0.889438
3   130.000000           1.000000

In [30]:
df1['log_values'] = np.log1p(df1['values'])
print(df1)

        values  normalized_values  log_values
0    56.646061           0.188982    4.054322
1    46.149833           0.072934    3.853330
2    48.418598           0.098018    3.900327
3    45.045948           0.060729    3.829640
4    44.645919           0.056306    3.820914
5    42.806434           0.035968    3.779781
6    52.822084           0.146703    3.985684
7    51.478609           0.131850    3.960406
8    41.867979           0.025592    3.758125
9    51.097826           0.127640    3.953123
10   53.394024           0.153027    3.996254
11   59.446364           0.219943    4.101756
12   54.807692           0.168657    4.021912
13   50.520056           0.121252    3.941971
14   47.594173           0.088903    3.883504
15   54.251143           0.162503    4.011889
16   57.267123           0.195849    4.065038
17   55.288687           0.173975    4.030494
18   50.827808           0.124654    3.947927
19   52.575092           0.143973    3.981084
20   43.315322           0.041595    3.791330
21   52.814306           0.146617    3.985539
22   56.964274           0.192500    4.059827
23   49.683360           0.112001    3.925598
24   50.608342           0.122228    3.943683
25   56.038013           0.182260    4.043718
26   49.989799           0.115389    3.931626
27   58.138979           0.205488    4.079890
28   51.772464           0.135099    3.965990
29   55.187638           0.172858    4.028697
30   48.071582           0.094181    3.893280
31   52.599090           0.144238    3.981532
32   58.432914           0.208738    4.084848
33   43.370184           0.042201    3.792568
34   57.144919           0.194498    4.062938
35   39.553229           0.000000    3.702615
36   49.350900           0.108325    3.919017
37   53.157615           0.150413    3.991899
38   47.067310           0.083077    3.872602
39   51.453600           0.131573    3.959929
40   56.320517           0.185383    4.048659
41   51.450174           0.131535    3.959864
42   40.148558           0.006582    3.717189
43   54.019529           0.159943    4.007688
44   55.152752           0.172472    4.028076
45   50.590490           0.122030    3.943337
46   49.890733           0.114294    3.929681
47   50.234204           0.118091    3.936407
48   41.856236           0.025463    3.757851
49   48.038197           0.093812    3.892600
0   100.000000           0.668313    4.615121
1   110.000000           0.778875    4.709530
2   120.000000           0.889438    4.795791
3   130.000000           1.000000    4.875197

In [31]:
df1['Z-score'] = (df1['values'] - df1['values'].mean()) /df1['values'].std()
print(df1['Z-score'])

0     0.061519
1    -0.524307
2    -0.397680
3    -0.585918
4    -0.608245
5    -0.710912
6    -0.151909
7    -0.226892
8    -0.763290
9    -0.248145
10   -0.119987
11    0.217812
12   -0.041086
13   -0.280392
14   -0.443694
15   -0.072149
16    0.096182
17   -0.014240
18   -0.263215
19   -0.165694
20   -0.682510
21   -0.152343
22    0.079279
23   -0.327090
24   -0.275464
25    0.027582
26   -0.309987
27    0.144843
28   -0.210491
29   -0.019880
30   -0.417048
31   -0.164355
32    0.161249
33   -0.679447
34    0.089362
35   -0.892483
36   -0.345646
37   -0.133182
38   -0.473100
39   -0.228288
40    0.043349
41   -0.228479
42   -0.859256
43   -0.085076
44   -0.021827
45   -0.276461
46   -0.315516
47   -0.296346
48   -0.763945
49   -0.418912
0     2.481232
1     3.039362
2     3.597492
3     4.155622
Name: Z-score, dtype: float64

In [25]:
df1.loc[(df1['Z-score']<3) & (df1['Z-score'] > -3)]

        values  normalized_values  log_values   Z-score
0    56.646061           0.188982    4.054322  0.061519
1    46.149833           0.072934    3.853330 -0.524307
2    48.418598           0.098018    3.900327 -0.397680
3    45.045948           0.060729    3.829640 -0.585918
4    44.645919           0.056306    3.820914 -0.608245
5    42.806434           0.035968    3.779781 -0.710912
6    52.822084           0.146703    3.985684 -0.151909
7    51.478609           0.131850    3.960406 -0.226892
8    41.867979           0.025592    3.758125 -0.763290
9    51.097826           0.127640    3.953123 -0.248145
10   53.394024           0.153027    3.996254 -0.119987
11   59.446364           0.219943    4.101756  0.217812
12   54.807692           0.168657    4.021912 -0.041086
13   50.520056           0.121252    3.941971 -0.280392
14   47.594173           0.088903    3.883504 -0.443694
15   54.251143           0.162503    4.011889 -0.072149
16   57.267123           0.195849    4.065038  0.096182
17   55.288687           0.173975    4.030494 -0.014240
18   50.827808           0.124654    3.947927 -0.263215
19   52.575092           0.143973    3.981084 -0.165694
20   43.315322           0.041595    3.791330 -0.682510
21   52.814306           0.146617    3.985539 -0.152343
22   56.964274           0.192500    4.059827  0.079279
23   49.683360           0.112001    3.925598 -0.327090
24   50.608342           0.122228    3.943683 -0.275464
25   56.038013           0.182260    4.043718  0.027582
26   49.989799           0.115389    3.931626 -0.309987
27   58.138979           0.205488    4.079890  0.144843
28   51.772464           0.135099    3.965990 -0.210491
29   55.187638           0.172858    4.028697 -0.019880
30   48.071582           0.094181    3.893280 -0.417048
31   52.599090           0.144238    3.981532 -0.164355
32   58.432914           0.208738    4.084848  0.161249
33   43.370184           0.042201    3.792568 -0.679447
34   57.144919           0.194498    4.062938  0.089362
35   39.553229           0.000000    3.702615 -0.892483
36   49.350900           0.108325    3.919017 -0.345646
37   53.157615           0.150413    3.991899 -0.133182
38   47.067310           0.083077    3.872602 -0.473100
39   51.453600           0.131573    3.959929 -0.228288
40   56.320517           0.185383    4.048659  0.043349
41   51.450174           0.131535    3.959864 -0.228479
42   40.148558           0.006582    3.717189 -0.859256
43   54.019529           0.159943    4.007688 -0.085076
44   55.152752           0.172472    4.028076 -0.021827
45   50.590490           0.122030    3.943337 -0.276461
46   49.890733           0.114294    3.929681 -0.315516
47   50.234204           0.118091    3.936407 -0.296346
48   41.856236           0.025463    3.757851 -0.763945
49   48.038197           0.093812    3.892600 -0.418912
0   100.000000           0.668313    4.615121  2.481232